NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ENABLE_STUDIO=false

# Future auth
ADMIN_EMAIL=
AUTH_SECRET=

# Future database
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Future analytics
NEXT_PUBLIC_ANALYTICS_ID=
